.form-group {
  margin: 2rem;
  border-radius: 8px;
}

textarea,
input[type="text"] {
  width: 100%;
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid var(--black);
  border-radius: 8px;
}

button[type="submit"] {
  background: var(--secondary);
  color: var(--white);
  border: none;
  display: block;
  margin: 0 auto;
  padding: 1rem;
  cursor: pointer;
  border-radius: 8px;
}

button[type="submit"]:hover {
  opacity: 0.75;
  border-radius: 8px;
}

label {
  display: block;
  font-weight: bold;
  margin: 0.5rem;
  border-radius: 8px;
}
.card-form {
  padding: 2rem;
  border: 1px solid var(--black);
  margin: 4rem; /* Add margin-top to create space below the fixed header */
  height: 600px; /* Adjust the height as needed */
  overflow-y: auto;
  border-radius: 8px;
}
