.bookmark {
  cursor: pointer;
  border: none;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background: var(--secondary-light);
  color: var(--white);

  transition: 300ms ease;
}

.bookmark:hover .bookmark__icon,
.bookmark:active .bookmark__icon {
  color: var(--black);
}

.bookmark--active {
  color: var(--black);
}

.bookmark__icon {
  fill: currentcolor;
  width: 2em;
}
